<form method="POST" action="/behaviour/reporting" >
    <input type="text" hidden name="changed" value="<%=time%>"/>
    <input type="date" class="longinput" name="day" value="<%=date%>"/>
    <input type="submit" value="Change day" /> 
</form>
