<!doctype html>
<html lang="en">
  <head>
    <title>Mood</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <style>
      body {
        background-color: #afbef5;
      }
      
      .inputp {
        margin-top: 8px;
      }
      .largecontainer {
        margin: 2rem;
      }
      .pee {
        margin-top : 4px;
        text-align: center;
        font-size: 16px;
      }
      .container {
        background-color: white;
        transform: translate(0,25%);
        padding: 2rem;
      }
      .minicontainer {
        display: block;
        margin: 2rem;
      }
      .week {
        margin: 8px;
        display: flex;
        flex-direction: row;
      }
      .weekday {
        text-emphasis: 7;
        margin: 4px;
        padding: 4px;
        border: #afbef5 2px solid;
        border-radius: 10%;
      }
      .login{
        background-color: white;
        
      }
    </style>

  </head>
  <body>
    <div class="container">