<%- include('./partials/header.ejs') %>
<h1>Welcome to Mood!</h1>
<p>Mood aims to improve your everyday health by monitoring and summarising daily statistics</p>
<a href="/auth/login">Login here</a>
<br>
<a href="/auth/registration">Dont have an account? Register here</a>
<%- include('./partials/footer.ejs') %>